{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">

  <div class="col">
    {{map|safe}}
  </div>

  <div class="col2">
    <div>
      <a href={% url 'home'%} class="btn btn-outline-primary" role="button" aria-pressed="true">National</a>
      <a href={% url 'start'%} class="btn btn-outline-success" role="button" aria-pressed="true">Counties</a>
    </div>
    <h4> {{ text1 }} </h4>
    <div>
      {%load crispy_forms_tags %} 
    <form action="" method="post">
      {% csrf_token %}
     <div>
      {{ form|crispy }}
     </div> 
      <input type="submit" value="Filter">
    </form>
    </div>
    <div class="mt-30" style="width: 200px;">
    <h4> {{ text2 }} </h4>
    </div>
  </div>

</div>
<style>
  .col2{
    position: absolute;
    width: 10vw;
    height: 70vh;
    left: 83%;
    top: 10%;
  }
  .col{
    position: absolute;
    top: 45%;
    left: 41%;
    transform: translate(-50%,-50%);
    width: 82vw;
    height: 75vh;
  }
</style>
<script>
{{ map.script.render|safe }}
</script>
<script>


</script>
{% endblock %}
